<!--<p>home works!</p>-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>The Crazzy Canuck</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
    </style>
  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="assets/img/canuck_logo_small.gif" height="40" />
          <a class="navbar-brand" href="#myPage">THE CRAZZY CANUCK</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#myPage">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#products">PRODUCTS</a></li>
            <li><a href="#joke">JOKE</a></li>
            <li><a href="#rideboard">RIDE BOARD</a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >MORE <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="#">Merchandise</a></li>
                <li><a href="#">Extras</a></li>
                <li><a href="#">Media</a></li>
              </ul>
            </li>
            <li>
              <a href="#"><span class="glyphicon glyphicon-search"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div
      id="myCarousel"
      class="carousel slide"
      data-ride="carousel"
      style="background-image: url('assets/img/canadatile.jpg')"
    >
      <!--          background-image: url("img/canadatile.jpg");
        background-repeat: repeat-y;
-->
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <br /><br /><br />
          <img src="assets/img/array_large.jpg" alt="New York" />
          <br /><br /><br /><br /><br /><br />
          <div class="carousel-caption">
            <h3>Array of Products</h3>
            <p>
              Here are a bunch of products. There are some interesting things
              that are included here, such as blah blah blah
            </p>
          </div>
        </div>

        <div class="item">
          <br /><br /><br />
          <img src="assets/img/souv_large.jpg" alt="New York" />
          <br /><br /><br /><br /><br /><br />
          <div class="carousel-caption">
            <h3>Souveniers</h3>
            <p>
              Various souveneirs from Canada. These may include a large teddy
              bear, various flags, etc. etc.
            </p>
          </div>
        </div>

        <div class="item">
          <br /><br /><br />
          <img src="assets/img/shirts_large.jpg" alt="New York" />
          <br /><br /><br /><br /><br /><br />
          <div class="carousel-caption">
            <h3>Shirts</h3>
            <p>
              We have a great array of shirts from Canada. Click here to order
              ...
            </p>
          </div>
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a
        class="left carousel-control"
        href="#myCarousel"
        role="button"
        data-slide="prev"
      >
        <span
          class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="right carousel-control"
        href="#myCarousel"
        role="button"
        data-slide="next"
      >
        <span
          class="glyphicon glyphicon-chevron-right"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div>
      <app-topnav></app-topnav>
    </div>
  <!-- Container (About Us and Our Team Section) -->
    <div id="about" class="container text-center">
      <h3>THE CRAZZY CANUCK - ABOUT US AND OUR TEAM</h3>
      <p><em>Welcome to the Crazzy Canuck!</em></p>
      <p>
        We love all things Canuck! Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
      <br />
      <div class="row">
        <div class="col-sm-4">
          <p class="text-center"><strong>Kim S. - CEO</strong></p>
          <br />
          <a href="#demo" data-toggle="collapse">
            <img
              src="assets/img/mh_can2-cp.jpg"
              class="img-circle person"
              alt="Random Name"
              width="255"
              height="255"
            />
          </a>
          <div id="demo" class="collapse">
            <p>CEO</p>
            <p>Lorem Ipsum</p>
            <p>JBrought on in 2000, degrees, acolades, etc.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>S. Gage S. - Graphic Design</strong>
          </p>
          <br />
          <a href="#demo2" data-toggle="collapse">
            <img
              src="assets/img/mh_can7-cp.jpg"
              class="img-circle person"
              alt="Random Name"
              width="255"
              height="255"
            />
          </a>
          <div id="demo2" class="collapse">
            <p>Sales and Marketing</p>
            <p>Lorem Ipsum'</p>
            <p>Brought on in 2000, degrees, acolades, etc.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <p class="text-center">
            <strong>Dawson S. - Video Game/YouTube Design</strong>
          </p>
          <br />
          <a href="#demo3" data-toggle="collapse">
            <img
              src="assets/img/mh_can8-cp.jpg"
              class="img-circle person"
              alt="Random Name"
              width="255"
              height="255"
            />
          </a>
          <div id="demo3" class="collapse">
            <p>COO</p>
            <p>Lorem Ipsum</p>
            <p>Brought on in 2000, degrees, acolades, etc.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Container (PRODUCTS Section) -->
    <div id="products" class="bg-1">
      <div class="container">
        <h3 class="text-center">PRODUCTS</h3>
        <p class="text-center">
          Lorem ipsum products are below.<br />
          Feel free to order!
        </p>
        <!--
        <ul class="list-group">
          <li class="list-group-item">
            September <span class="label label-danger">Sold Out!</span>
          </li>
          <li class="list-group-item">
            October <span class="label label-danger">Sold Out!</span>
          </li>
          <li class="list-group-item">November <span class="badge">3</span></li>
        </ul>
        -->

        <div class="row text-center">
          <div class="col-sm-4">
            <div class="thumbnail">
              <img
                src="assets/img/olddutch_large.jpg"
                alt="Paris"
                width="400"
                height="300"
              />
              <p><strong>Paris</strong></p>
              <p>Friday 27 November 2015</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">
                Buy Tickets
              </button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="paris.jpg" alt="Paris" width="400" height="300" />
              <p><strong>Paris</strong></p>
              <p>Friday 27 November 2015</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">
                Buy Tickets
              </button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img src="newyork.jpg" alt="New York" width="400" height="300" />
              <p><strong>New York</strong></p>
              <p>Saturday 28 November 2015</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">
                Buy Tickets
              </button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="thumbnail">
              <img
                src="sanfran.jpg"
                alt="San Francisco"
                width="400"
                height="300"
              />
              <p><strong>San Francisco</strong></p>
              <p>Sunday 29 November 2015</p>
              <button class="btn" data-toggle="modal" data-target="#myModal">
                Buy Tickets
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                ×
              </button>
              <h4>
                <span class="glyphicon glyphicon-lock"></span>Add Product To
                Wish List
              </h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="psw"
                    ><span class="glyphicon glyphicon-shopping-cart"></span>
                    Tickets, $23 per person</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="psw"
                    placeholder="How many?"
                  />
                </div>
                <div class="form-group">
                  <label for="usrname"
                    ><span class="glyphicon glyphicon-user"></span> Send
                    To</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="usrname"
                    placeholder="Enter email"
                  />
                </div>
                <button type="submit" class="btn btn-block">
                  Pay
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-danger btn-default pull-left"
                data-dismiss="modal"
              >
                <span class="glyphicon glyphicon-remove"></span> Cancel
              </button>
              <p>Need <a href="#">help?</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Container (Blog Section) -->
    <div id="contact" class="container">
      <h3 class="text-center">From The Blog</h3>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Mike</a></li>
        <li><a data-toggle="tab" href="#menu1">Chandler</a></li>
        <li><a data-toggle="tab" href="#menu2">Peter</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h2>Mike Ross, Manager</h2>
          <p>
            Man, we've been on the road for some time now. Looking forward to
            lorem ipsum.
          </p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h2>Chandler Bing, Guitarist</h2>
          <p>
            Always a pleasure people! Hope you enjoyed it as much as I did.
            Could I BE.. any more pleased?
          </p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h2>Peter Griffin, Bass player</h2>
          <p>
            I mean, sometimes I enjoy the show, but other times I enjoy other
            things.
          </p>
        </div>
      </div>
    </div>

    <div
      id="jokeCarousel"
      class="carousel slide"
      data-ride="carousel"
      style="background: #000000"
    >
      <!--          background-image: url("img/canadatile.jpg");
        background-repeat: repeat-y;
-->
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#jokeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#jokeCarousel" data-slide-to="1"></li>
        <li data-target="#jokeCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          &nbsp;
          <br /><br /><br /><br /><br /><br />
          <div class="carousel-caption">
            <h3>Array of Products</h3>
            <p>
              Here are a bunch of products. There are some interesting things
              that are included here, such as blah blah blah
            </p>
          </div>
        </div>

        <div class="item">
          &nbsp;
          <br /><br /><br /><br /><br /><br />
          <div class="carousel-caption">
            <h3>Souveniers</h3>
            <p>
              Various souveneirs from Canada. These may include a large teddy
              bear, various flags, etc. etc.
            </p>
          </div>
        </div>

        <div class="item">
          &nbsp;
          <br /><br /><br /><br /><br /><br />
          <div class="carousel-caption">
            <h3>Shirts</h3>
            <p>
              We have a great array of shirts from Canada. Click here to order
              ...
            </p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a
        class="left carousel-control"
        href="#jokeCarousel"
        role="button"
        data-slide="prev"
      >
        <span
          class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="right carousel-control"
        href="#jokeCarousel"
        role="button"
        data-slide="next"
      >
        <span
          class="glyphicon glyphicon-chevron-right"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Container (Contact Section) -->
    <div id="contact" class="container">
      <h3 class="text-center">Contact</h3>
      <p class="text-center"><em>We love our fans!</em></p>

      <div class="row">
        <div class="col-md-4">
          <p>Fan? Drop a note.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span>Chicago, US</p>
          <p>
            <span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515
          </p>
          <p>
            <span class="glyphicon glyphicon-envelope"></span>Email:
            mail@mail.com
          </p>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input
                class="form-control"
                id="name"
                name="name"
                placeholder="Name"
                type="text"
                required
              />
            </div>
            <div class="col-sm-6 form-group">
              <input
                class="form-control"
                id="email"
                name="email"
                placeholder="Email"
                type="email"
                required
              />
            </div>
          </div>
          <textarea
            class="form-control"
            id="comments"
            name="comments"
            placeholder="Comment"
            rows="5"
          ></textarea>
          <br />
          <div class="row">
            <div class="col-md-12 form-group">
              <button class="btn pull-right" type="submit">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Image of location/map -->
    <img src="map.jpg" class="img-responsive" style="width: 100%" />

    <!-- Footer -->
    <footer class="text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span> </a
      ><br /><br />
      <p>
        Bootstrap Theme Made By
        <a
          href="https://www.w3schools.com"
          data-toggle="tooltip"
          title="Visit w3schools"
          >www.w3schools.com</a
        >
      </p>
    </footer>

    <script>
      $(document).ready(function () {
        // Initialize Tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on("click", function (event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top,
              },
              900,
              function () {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>
  </body>
</html>

